= provide(:title, "Log In")
.cell
  %h1 Log In
.cell
  = form_with url: sign_in_path do |form| 
    = form.label :email
    = form.text_field :email, placeholder: "john@example.com"
    = form.label :password
    = form.password_field :password, placeholder: "password"
    = form.submit "Log In", class: "button"