= provide(:title, "Sign Up")
.cell
  %h1 Sign Up
.cell
  = form_with model: @user, url: sign_up_path do |form|
    - if @user.errors.any?
      .callout.alert.small
        %h5 Please correct errors: 
        %ul
          - @user.errors.each do |error|
            %li= error.full_message 
    = form.label :email
    = form.text_field :email, placeholder: "john@example.com"
    = form.label :password
    = form.password_field :password, placeholder: "password"
    = form.label :password_confirmation
    = form.password_field :password_confirmation, placeholder: "password"
    = form.submit "Sign Up", class: 'button'