= form_with(model: time_entry) do |form|
  = render "shared/error_box", obj: time_entry
  .grid-container
    .grid-x.grid-padding-x
      .medium-4.cell
        = form.label :start
        = form.text_field :start, class: 'datetimepicker', autocomplete: 'off', placeholder: 'dd.MM.yyyy hh:mm', value: display_time_entry(time_entry.start, :time_logger_format)
      .medium-4.cell
        = form.label :stop
        = form.text_field :stop, class: 'datetimepicker', autocomplete: 'off', placeholder: 'dd.MM.yyyy hh:mm', value: display_time_entry(time_entry.stop, :time_logger_format)
      .medium-4.cell
        %label Category
        = form.collection_select :category_id, Category.all, :id, :name
      .cell
        = form.label :comment
        = form.text_field :comment, placeholder: "What did you work on?"
      .cell
        = form.submit "Save", class: "button"
        = link_to "Cancel", time_entries_path, class: "button warning"