= form_with(model: time_entry) do |form|
  - if time_entry.errors.any?
    .callout.alert.small
      %h5 Please correct errors: 
      %ul
        - time_entry.errors.each do |error|
          %li= error.full_message 
  .grid-container
    .grid-x.grid-padding-x
      .medium-4.cell
        = form.label :start
        = form.text_field :start, class: 'datetimepicker', autocomplete: 'off', placeholder: 'dd.MM.yyy hh:mm'
      .medium-4.cell
        = form.label :end
        = form.text_field :end, class: 'datetimepicker', autocomplete: 'off', placeholder: 'dd.MM.yyy hh:mm'
      .medium-4.cell
        %label Category
        = form.collection_select :category_id, Category.all, :id, :name
      .cell
        = form.label :comment
        = form.text_field :comment, placeholder: "What did you work on?"
      .cell
        = form.submit "Save", class: "button"
        = link_to "Cancel", time_entries_path, class: "button warning"