.cell
  %h1 Time Entries
.cell
  - if @time_entries.size > 0
    %table
      %thead
        %tr
        %th Start
        %th End
        %th Comment
        %th Category
        %th{:colspan => "2"}
      %tbody>
        - @time_entries.each do |time_entry|
          %tr
            %td= time_entry.start
            %td= time_entry.end
            %td= time_entry.comment
            %td Work
            %td= link_to '', edit_time_entry_path(time_entry), class: "fa fa-edit fa-2x"
            %td= link_to '', time_entry, method: :delete, data: { confirm: 'Are you sure to delete this time entry?' }, class: "fa fa-trash fa-2x"
  - else
    %p.text-center There is no time entry yet. Your time entries will be listed here.

  = link_to 'New Time Entry', new_time_entry_path, class: 'button small'
