= provide(:title, "Time Entry")
.cell
  %h2.text-center Time Entry
  %ul.time-entry-list
    %li
      %strong 
        Start: 
      = display_time_entry(@time_entry.start, :short)
    %li
      %strong 
        Start: 
      = display_time_entry(@time_entry.end, :short)
    %li
      %strong 
        Duration (hh:mm:ss): 
      = display_duration(@time_entry)
    %li
      %strong 
        Category: 
      = display_category(@time_entry)
    %li
      %strong 
        Comment: 
      = @time_entry.comment.empty? ? "none" : @time_entry.comment
.cell
  = link_to "Back to Time Logs", time_entries_path, class: "button"