= form_with(model: category) do |form|
  = render "shared/error_box", obj: category
  = form.label :name
  = form.text_field :name
  = form.submit class: "button"
  = link_to "Cancel", categories_path, class: "button warning"
