= provide(:title, "Reports")
.cell
  %h4 Access Time Logs per Category
.cell
  = form_with url: category_time_logs_path, method: "get", local: true do |f|
    .grid-container
      .grid-x.grid-padding-x
        .cell.medium-3
          = f.label :category, "Select Category"
          = select_tag :category, options_from_collection_for_select(Category.all, "id", "name", @selected_category_id), {:include_blank => "Select Category"}
        .cell.medium-3
          = f.label :start, "Select start date"
          = f.text_field :start, placeholder: "dd.mm.yyy", class: "datepicker", value: display_date_value(@selected_start)
        .cell.medium-3
          = f.label :stop, "Select end date"
          = f.text_field :stop, placeholder: "dd.mm.yyy", class: "datepicker", value: display_date_value(@selected_stop)
        .cell.align-self-middle.medium-3
          = f.submit "Find Entries", class: "button", style: "margin-bottom: 0"
.cell
  - unless @time_entries.empty?
    = render "shared/time_table/table_head", time_entries: @time_entries, controls: false, total: true
  - if @time_entries.empty?
    .callout.warning
      %p.text-center No user selected or there is no time entry for the selected user.